html{
    height: 100%;
}

body{
    background :radial-gradient(pink,blueviolet)
}

h2{
    text-align: center;
    font-size: 80px;
    font-family: Georgia, serif;
    margin-bottom: 10px;
}

.winning-cell{
    background-color: yellow;
}

table{
    border-spacing: 5px 5px;
    font-size: 1000%;
    color: blueviolet;
    display: none;
}

td{
    border-style: solid;
    border-color: black;
    background-color: white;
    text-align: center;
    font-size: 50%;
    width: 135px;
    height: 135px;
}


.moji{
    opacity: 0;
}

.moji:hover{
    opacity: 0.5;
}

div{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

button#ResetButton{
    font-size: 120%;
    color:blueviolet;
    width: 15em;
    height: 3em;
    display: none;
}

button#NewGame{
    font-size: 50px;
    color: blueviolet;
    display: none;
}